In [1]:
# Import and check pandas version
import pandas as pd
pd.__version__

'2.2.2'

In [2]:
# Load csv file into dataframe
df = pd.read_csv('yellow_tripdata_2021-01.csv')
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])
df.info()

C:\Users\ACER\AppData\Local\Temp\ipykernel_17120\431757674.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('yellow_tripdata_2021-01.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1369769 entries, 0 to 1369768
Data columns (total 20 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1369769 non-null  int64
 1   VendorID               1369769 non-null  int64
 2   tpep_pickup_datetime   1369769 non-null  datetime64[ns]
 3   tpep_dropoff_datetime  1369769 non-null  datetime64[ns]
 4   passenger_count        1271417 non-null  float64
 5   trip_distance          1369769 non-null  float64
 6   RatecodeID             1271417 non-null  float64
 7   store_and_fwd_flag     1271417 non-null  object
 8   PULocationID           1369769 non-null  int64
 9   DOLocationID           1369769 non-null  int64
 10  payment_type           1369769 non-null  int64
 11  fare_amount            1369769 non-null  float64
 12  extra                  1369769 non-null  float64
 13  mta_tax                1369769 non-null  float64
 14  tip_amount             1369769 non-null  float64
 15  tolls_amount           1369769 non-null  float64
 16  improvement_surcharge  1369769 non-null  float64
 17  total_amount           1369769 non-null  float64
 18  congestion_surcharge   1271417 non-null  float64
 19  airport_fee            5 non-null        float64
dtypes: datetime64[ns](2), float64(12), int64(5), object(1)
memory usage: 209.0+ MB

In [3]:
# connect engine via sqlalchemy
# dependencies: sqlalchemy, psycopg2
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5431/ny_taxi')
engine.connect()

In [4]:
# Describes what the table looks like in SQL
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"Unnamed: 0" BIGINT,
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [10]:
# Create empty table from dataframe using original dataframe
df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')
print('Table created.')

Table created.

In [11]:
# Partition data into chunks
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)
print('Data partitioned.')

Data partitioned.

In [12]:
# Insert partitioned data to table
# Append each chunk in df_iter to database
from time import time

while True:
    try:
        t_start = time()
        dataframe = next(df_iter)
        dataframe['tpep_pickup_datetime'] = pd.to_datetime(dataframe['tpep_pickup_datetime'])
        dataframe['tpep_dropoff_datetime'] = pd.to_datetime(dataframe['tpep_dropoff_datetime'])
        dataframe.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
        t_end = time()
        print('Chunk inserted, duration: %.3f second/s' %(t_end - t_start))
    except StopIteration:
        print('\nAll records inserted')
        break

Chunk inserted, duration: 11.609 second/s
Chunk inserted, duration: 12.011 second/s
Chunk inserted, duration: 12.237 second/s
Chunk inserted, duration: 11.795 second/s
Chunk inserted, duration: 13.229 second/s
Chunk inserted, duration: 13.376 second/s
Chunk inserted, duration: 12.571 second/s

C:\Users\ACER\AppData\Local\Temp\ipykernel_17120\3804930798.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dataframe['tpep_dropoff_datetime'] = pd.to_datetime(dataframe['tpep_dropoff_datetime'])

Chunk inserted, duration: 12.946 second/s
Chunk inserted, duration: 13.096 second/s
Chunk inserted, duration: 12.454 second/s
Chunk inserted, duration: 12.506 second/s
Chunk inserted, duration: 12.412 second/s

C:\Users\ACER\AppData\Local\Temp\ipykernel_17120\3804930798.py:8: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe = next(df_iter)

Chunk inserted, duration: 12.594 second/s
Chunk inserted, duration: 8.057 second/s

All records inserted